@import "tailwindcss";

@keyframes updown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
       transform: translateY(50px);
    }
}

.animate-updown {
    animation: updown 4s ease-in-out infinite;
}



@keyframes leftright {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
       transform: translateX(50px);
    }
}

.animate-leftright {
    animation: leftright 4s ease-in-out infinite;
}